/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  // min-width: 230px;
  // max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }

.credentialSection {
  background: #F6F6FC;
  border: 1px solid #0071BC;
  width: 400px;
  height: 450px;
  border-radius: 46px;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  box-shadow: 3.06px 3.06px 3.06px rgba(0,0,0,0.35);
  filter: progid:DXImageTransform.Microsoft-.dropshadow(OffX=3.06, OffY=3.06, Color = "#000000");
}

.credentialInput {
  background: #FFFFFF;
  border: 0px solid #0071BC;
  width: 190px;
  height: 32px;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.77px;
  color: #CCCCCC;
}

.credentialLabel {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 15px;
  line-height: 19.1px;
  letter-spacing: 0.83px;
  color: #0071BC;
  text-align: left;
  display: inline-block;
  width:70px;
  text-align: right;
  padding-right:10px;
}

.submitButton {
  background: #FFFFFF;
  border: 1px solid #0071BC;
  width: 131px;
  height: 35px;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  box-shadow: 2.65px 2.65px 2.65px rgba(0,0,0,0.35);
  filter: progid:DXImageTransform.Microsoft-.dropshadow(OffX=2.65, OffY=2.65, Color = "#000000");
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #0071BC;
}

#signUpText {
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 13.7px;
  letter-spacing: 0.07px;
  color: #0071BC;
}

.imageParent {
  width: 250px;
}

.metamorphosisLogo {
  display: block;
  width: 100%;
  height: auto;
}

.chatPage {
  width: 100vw;
}

.chatMain {
  background-color: yellow;
  // width: 881px;
  width: 67.6vw;
  // height: calc(100vh - 116px - 52px);
  height: 100vh - 15.1vh - 17.3vh;
  // margin-top: -19px;
  margin-top: -88.9vh;
  margin-left: 16.2vw;
  position: absolute;
}

.chatTop {
  background: #EFEFEF;
  // height: 116px;
  height: 15.1vh;
  // width: 881px;
  width: 67.6vw;
  margin-top: -100vh;
  // margin-left: calc(calc(100vw - 881px)/2);
  margin-left: 16.2vw;
  position: absolute;
}

.chatBottom {
  background: #EFEFEF;
  // width: 881px;
  // width: 67.6vw;
  width: 67.3vw;
  padding-right: 0.3vw;
  // height: 52px;
  height: 18.5vh;
  margin-top: -21.3vh;
  margin-left: 16.2vw;
  position: absolute;
}

.chatLeft {
  background: #FFFFFF;
  // width: calc(calc(100vw - 881px)/2);
  width: 16.2vw;
  // margin-right: calc(100vw - calc(calc(100vw - 881px)/2));
  margin-right: 83.8vw;
  height: 100vh;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.35);
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=4, Color="#000000");
}

.chatRight {
  background: #FFFFFF;
  // width: calc(calc(100vw - 881px)/2);
  width: 16.2vw;
  // margin-left: calc(100vw - calc(calc(100vw - 881px)/2));
  margin-left: 83.8vw;
  height: 100vh;
  margin-top: -100vh;
  box-shadow: -4px 4px 4px rgba(0,0,0,0.35);
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=-4,OffY=4,Color="#000000");
  vertical-align: top;
  display: inline-block;
}

.imageParentChatLeft {
  // width: calc(calc(100vw - 881px)/2);
  width: 16.2vw;
}

.imageAndNameParentTop {
  width: 67.6vw;
}

.imageAndNameParentRight {
  width: 8.1vw;
  margin-bottom: 4vh;
}

.imageParentMain {
 width: 67.6vw;
}

.chatLeftLogout {
  background: #FFFFFF;
  border: 1px solid #0071BC;
  // width: calc(calc(calc(100vw - 881px)/2)/2);
  width: 8.1vw;
  // height: 30px;
  height: 3.9vh;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 2.23px 2.23px 2.23px rgba(0,0,0,0.35);
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2.23, OffY=2.23, Color="#000000");
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #0071BC;
  margin-top: 5vh;
}

#chattingWith {
  text-align: left;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #0071BC;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  padding-left: 1vw;
}

.topName {
  position: absolute;
  // left: calc(calc(calc(100vw - 881px)/2) + 440.5px);
  // left: 16.2vw + 33.8vw;
  left: 16.2vw + 16.9vw;
  top: 4vh;
  font-family: "Source Sans Pro";
  // font-size: 18px;
  font-size: 2.34vh;
  letter-spacing: 0.72px;
  color: #0071BC;
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
}

.personImage {
  border: 1px solid #0071BC;
  border-radius: 50%;
}

.mainPersonImage {

}

.topPersonImage {
  position: absolute;
  // left: calc(calc(calc(100vw - 881px)/2) + 440.5px - 73px - 15px);
  left: calc(16.2vw + 16.9vw - 5% - 15px);
  top: 3.38vh;
  display: block;
  width: 5%;
  height: auto;
}

.rightPersonImage {
}

.rightName {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 14px;
  line-height: 19.1px;
  letter-spacing: 0.77px;
  color: #0071BC;
}

#friendsRight {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 1.85vh;
  letter-spacing: 0.102vw;
  text-transform: uppercase;
  color: #0071BC;
  text-align: left;
  padding-left: 1.5vw;
}

.chatTextarea {
  width: 100%;
  height: 100%;
  border: 0.5px solid gray;
}

.chatTextareaForm {
  height: 100%;
}

.chatMessage {

}
