/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  // min-width: 230px;
  // max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }

.credentialSection {
  background: #F6F6FC;
  border: 1px solid #0071BC;
  width: 400px;
  height: 450px;
  border-radius: 46px;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  box-shadow: 3.06px 3.06px 3.06px rgba(0,0,0,0.35);
  filter: progid:DXImageTransform.Microsoft-.dropshadow(OffX=3.06, OffY=3.06, Color = "#000000");
}

.credentialInput {
  background: #FFFFFF;
  border: 0px solid #0071BC;
  width: 190px;
  height: 32px;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.77px;
  color: #CCCCCC;
}

.credentialLabel {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 15px;
  line-height: 19.1px;
  letter-spacing: 0.83px;
  color: #0071BC;
  text-align: left;
  display: inline-block;
  width:70px;
  text-align: right;
  padding-right:10px;
}

.submitButton {
  background: #FFFFFF;
  border: 1px solid #0071BC;
  width: 131px;
  height: 35px;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  box-shadow: 2.65px 2.65px 2.65px rgba(0,0,0,0.35);
  filter: progid:DXImageTransform.Microsoft-.dropshadow(OffX=2.65, OffY=2.65, Color = "#000000");
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #0071BC;
}

#signUpText {
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 13.7px;
  letter-spacing: 0.07px;
  color: #0071BC;
}

.imageParent {
  width: 250px;
}

.metamorphosisLogo {
  display: block;
  width: 100%;
  height: auto;
}

.chatPage {
  width: 100vw;
}

.chatMain {
  background-color: yellow;
  width: 881px;
  height: calc(100vh - 116px - 52px);
  margin-top: -19px;
}

.chatTop {
  background: #EFEFEF;
  height: 116px;
  width: 881px;
  margin-top: -100vh;
}

.chatBottom {
  background: #EFEFEF;
  width: 881px;
  height: 52px;
}

.chatLeft {
  background: #FFFFFF;
  width: calc(calc(100vw - 881px)/2);
  margin-right: calc(100vw - calc(calc(100vw - 881px)/2));
  height: 100vh;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.35);
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=4, Color="#000000");
}

.imageParentChatLeft {
  width: calc(calc(100vw - 881px)/2);
}

.chatLeftLogout {
  background: #FFFFFF;
  border: 1px solid #0071BC;
  width: calc(calc(calc(100vw - 881px)/2)/2);
  height: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 2.23px 2.23px 2.23px rgba(0,0,0,0.35);
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2.23, OffY=2.23, Color="#000000");
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #0071BC;
  margin-top: 5vh;
}
